* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

#page_header {
    height: 75px;
    background-color: darkblue;
}

/* Starting the media querie for tablet */

@media only screen and (min-width: 600px) {
    #page_header {
        background-color: orange;
    }  
}

@media only screen and (min-width: 912px) {
    #page_header {
        background-color: purple;
    }  
}